* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    width: 100%;
    background-image: linear-gradient(#1565c0,white);
}

#input_container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#username, #password {
    height: 30px;
    width: 350px;
    padding: 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.position-relative {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 0px 5px 5px 0px;
}

    .icon i {
        position: relative;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
    }



#input_img {
    position: relative;
    top: 4px;
    right: 5px;
    width: 5px;
    height: 5px;
}

#btn1 {
    position: relative;
    left: 75%;
    background-color: darkblue;
}

#btn2 {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: black;
    position: absolute;
    right: 30px;
}

.circle {
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

.img-responsive {
    width: 150px;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
}

#myModal {
    width: 100%;
    height: 100%;
    padding: 15px;
    margin: 0 auto;
}
