body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: none;
}

.layer {
    width: 100%;
    height: 100%;
}

.leftpane {
    width: 25%;
    height: 100%;
    float: left;
    border: 1px red inset;
    background-color: aqua;
    font-weight: bold;
}
form {
    padding: 10px;
}
.slider-row{
    display:flex
}

.slider-row div{
    width: 100%;
    margin-top:3%;
    margin-left:2%;
    margin-right:2%;
}
form div {
    height: 50px;
}
form p{
    margin:auto;
}
div#head {
    padding: 0;
    border-bottom:1px black inset;
    height:7%;
    padding:10px;
}

.slider-row input{
    width: 20%;
    height:60%;
    padding-left:7px;
}
.middlepane {
    width: 75%;
    height: 100%;
    float: left;
}

.toppane {
    width: 100%;
    background-image: linear-gradient(#1565c0,white);
}

.card img{
   padding: 5px;
}

.card-body{
    line-height:0.5;
    padding:0px;
    text-align:center;
}

.heading{
    margin-top: 5%;
    margin-bottom: 15%;
    font-size:medium;
    font-weight:bolder;
}

a.prod-link,
a.prod-link:hover {
    color: inherit;
}



@media (max-width: 47em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 60em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}